snippet cmt
	/* ${1} */${2}
snippet .
	.${1:selector} { ${2}}
snippet .l
	.${1:selector} { 
		${2}
	}
snippet #
	#${1:selector} { ${2}}
snippet #l
	#${1:selector} { 
		${2}
	}
snippet p
	${1:property}: ${2:value}; ${3}
snippet !
	!important
snippet color hex
	#${1:DDD};${2}
snippet color rgb
	rgb(${1:255},${2:255},${3:255});$${2}
snippet color name
	${1:white};${2}
